* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      font-family: "Montserrat Alternates", sans-serif;
      background-color: #f9f9f9;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      padding: 20px;
  }
  
  h2 {
      font-family: "Orbitron", sans-serif;
  }
  
  .product-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      padding: 20px;
      width: 90%;
      max-width: 1200px;
  }
  
  .product-box {
      background-color: #fff;
      border: 2px solid #ccc;
      border-radius: 8px;
      padding: 20px;
      width: 100%;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: border-color 0.3s ease;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-decoration: none;
      color: #112B3C;
  }
  
  .product-box:hover {
      border-color: #F66B0E;
  }
  
  .product-image {
      width: 100%;
      height: 200px; /* Increased height for better image fit */
      object-fit: contain;
      border-radius: 8px;
      margin-bottom: 10px;
  }
  
  .product-name {
      font-size: 1.2em;
      margin-bottom: 10px;
      color: #112B3C;
  }
  
  .product-price {
      font-size: 1.1em;
      color: #F66B0E;
      margin-bottom: 10px;
  }
  
  .product-description {
      font-size: 0.9em;
      color: #666;
      line-height: 1.4em;
  }
  
  p {
      color: #112B3C;
  }
  
  .back-button {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 18px;
      color: #112B3C;
      text-decoration: none;
      background-color: #F66B0E;
      padding: 20px;
      border-radius: 5px;
      font-family: "Orbitron", sans-serif;
      margin-top: 42px;
      margin-left: 15px;
  }
  
  .back-button:hover {
      background-color: #e55d00;
  }
  
  /* Mobile Responsiveness */
  @media (max-width: 768px) {
      .product-container {
          grid-template-columns: repeat(2, 1fr);
      }
  }
  
  @media (max-width: 480px) {
      .product-container {
          grid-template-columns: 1fr;
      }
  }
  